<h1>Title: {{question.title}}</h1>
<p>Question: {{question.description}}</p>

<form action="/question/{{question.id}}/edit">
    <p>
        <input type="submit" value="Edit">
    </p>
</form>

<form action="/question/{{question.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<form action="/">
    <p>
        <input type="submit" value="Home">
    </p>
</form>